
:host {
	display: block;
	min-height: 100vh;
}

.header {
    background: var(--card-bg);
    color: var(--app-text);
}

.page {
	padding: 1.5rem;
	display: flex;
    flex-direction: column;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

