.auth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 767px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0rem;
        justify-content: flex-end;
    }
}

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 767px) {
        flex-direction: row;
        margin-left: 1rem;
    }
}

.auth-message {
  margin: 0;
  font-size: 0.9rem;
  color: #cbd5f5;
}