.task-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-card-title {
    display: flex;
    justify-content: space-between;
  }
  
  mat-card-content {
    flex: 1;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.full-width {
  width: 100%;
}
